{
	"stringsFloderPath": "\\app\\src\\main\\res\\",
	"compareLanFolder": "values",
	"placeHolderWhiteList": [],
	"surplusWhiteList": [],
	"lackWhiteList": [],
	"stringsFolderMap": {
		"values": "英语",
		"values-ar": "阿拉伯语",
		"values-es": "西班牙语",
		"values-in-rID": "印尼语",
		"values-pt": "葡萄牙语",
		"values-th-rTH": "泰语",
		"values-vi-rVN": "越南语",
		"values-zh-rCN": "中文"
	}
}